%global _prefix /usr/local
Summary: {{ description }}
Name: {{ package_name }}
Version: {{ version }}
Release: 1%{?dist}
License: {{ license }}
Group: {{ group | default('Unspecified') }}
Url: {{ url }}
{% for asset in assets %}Source{{ loop.index0 }}: {{ asset.name }}
{% endfor %}BuildArch: {{ package_arch | default('x86_64') }}
{% for require in requires %}Requires: {{ require }}
{% endfor %}
%description
{{ description }}

%prep
{% for asset in assets %}curl -L {{ asset.url }} -o %{_sourcedir}/{{ asset.name }}
{% endfor %}
{% for cmd in prep %}{{ cmd }}
{% endfor %}

%install
mkdir -p %{buildroot}/%{_bindir}
{% for asset in assets %}tar -xvf %{_sourcedir}/{{ asset.name }}
{% endfor %}
{% for file in files %}%{__install} -m {{ file.mode | default('0755') }} %{_builddir}/{{file.src}} %{buildroot}/{{file.dest}}
{% endfor %}

%clean
rm -rf $RPM_BUILD_ROOT

%files
{% for file in files %}{{ file.dest }}
{% endfor %}
