Summary: {{ repoinfo.description }}
Name: {{ repoinfo.name }}
Version: {{ repoinfo.version }}
Release: 1%{?dist}
License: {{ repoinfo.license }}
Group: {{ repoinfo.group | default('Unspecified') }}
Url: {{ repoinfo.url }}
{% for asset in repoinfo.assets %}Source{{ loop.index0 }}: {{ asset.name }}
{% endfor %}BuildArch: {{ arch | default('x86_64') }}

%description
{{ repoinfo.description }}

%prep
prep.sh {{ repoinfo.name }}

%build
%configure
%make_build

%install
%make_install

%clean
rm -rf $RPM_BUILD_ROOT

%files
{% for file in repoinfo.files %}{{ file }}
{% endfor %}
